section#note_container{
	width:400px;
	margin:25px 0px 0px 60px;
	float:left;
}

section#note_container:after{
	clear:both;
	content:"";
	display:block;
}

h2#note_heading{
	padding:10px;
	color:#ffffff;
	font:bold 22px Arial;
	background:#333333;
	border-bottom: 5px solid #aa2343;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
}

/* The style for the ul element which displays the username and password for DSA testing purposes. */
ul#note_list{
	padding:15px 10px;
	background:#E3E3E3;
	font:20px Calibri;
	border:1px solid #000000;
	border-top:none;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
}

/* The CSS for the login box start here */

section#login_container{
	width:400px;
	margin:25px 50px 0px 0px;
	border:2px solid #000000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	float:right;
}

section#login_container:after{
	clear:both;
	content:"";
	display:block;
}

h2#login_title{
	padding:10px 20px;
	border-bottom: 3px Solid #ffffff;
	color:#ffffff;
	font:bold 25px Arial;
	background:#333333;
	border-bottom: 5px solid #aa2343;
}

form#login_form{
	width:350px;
	margin:10px auto 0px auto;
}

input.input{
	padding:5px 0px;
	margin-bottom:10px;
	display:inline-block;
}

span.label{
	font:19px Arial;
	margin:0px 30px 0px 50px;
	display:inline-block;
}

/* Selects the fourth span child of the form#login_form  with the class of label. Nth-child does not work within IE 9 or earlier. */
form#login_form > span.label:nth-child(4){
	margin-right:33px;
	
}
button#submit{
	margin:10px auto;
	padding:10px 30px;
	display:block;
	background:#fff;
	color:#000000;
	font:bold 17px Calibri;
	border:1px solid #000000;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	box-shadow:0px 0px 2px #000000 inset;
}

button#submit:hover{
	color:#aa3243;
	box-shadow:0px 0px 5px #000000 inset;
}

button#submit:active{
	box-shadow:0px 0px 10px #000000 inset;
}